/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

.mb-2 {
    margin-bottom: 3em;
}

/* header */
.container {
    background-color: white;
    height: 80px;
    padding-left: 20px;

}

.logo-header {
    vertical-align: middle;
    
}

.logo-title {
    vertical-align: middle;
    display: inline-block;
    line-height: 80px;
}

/* nav */
.container-nav {
    margin: 0 auto;
    width: 70%;
    height: 60px;  
    background-color: white;
    padding-left: 60px;
    line-height: 60px;
    margin-bottom: 5px;
    
}

.nav-first-button {
    width: 70px;
    height: 30px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0;
    background-color: #47adf1;
    color: white;
    


}

.nav-second-button {
    width: 100px;
    height: 30px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid;
    background-color: white;
    color: #e0e3e6;
    border-color: #e0e3e6;
}

/* main */
main {
    margin: 0 auto;
    width: 70%;
    background-color: white;
    padding: 5%;

}

ul {
    list-style: none;
    color: #464a53;
}

.main-item {
    font-size: 1.5em;
    
}

.second-item {
    padding-left: 10px;
    padding-top: 10px;
}

.editorial {
    display: inline-block;
    width: 90px;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 15px 15px 15px 15px;
    font-size: 0.5em;
    background-color: #47adf1;
    color: white;
}

.q1-goals {
    display: inline-block;
    width: 90px;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 15px 15px 15px 15px;
    font-size: 0.5em;
    background-color: #9c72e4;
    color: white;
}

.recruiting {
    display: inline-block;
    width: 90px;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 15px 15px 15px 15px;
    font-size: 0.5em;
    background-color: #65c0a9;
    color: white;
}

.mobile {
    display: inline-block;
    width: 90px;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 15px 15px 15px 15px;
    font-size: 0.5em;
    background-color: #f29e33;
    color: white;
}

.website {
    display: inline-block;
    width: 90px;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 15px 15px 15px 15px;
    font-size: 0.5em;
    background-color: #d863a1;
    color: white;
}

.sales {
    display: inline-block;
    width: 90px;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 15px 15px 15px 15px;
    font-size: 0.5em;
    background-color: #b0c926;
    color: white;

}