/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: 'Averia Sans Libre', cursive;
}

.mb-2 {
    margin-bottom: 3em;
}

/* header */
.container {
    background-color: white;
    height: 80px;
    padding-left: 20px;
}

.logo-header {
    vertical-align: middle;
}

.logo-title {
    vertical-align: middle;
    display: inline-block;
    line-height: 80px;
}

/* nav */
.container-nav {
    margin: 0 auto;
    width: 70%;
    height: 60px;  
    background-color: white;
    padding-left: 60px;
    line-height: 60px;
    margin-bottom: 5px;
}

#nav-first-button {
    width: 70px;
    height: 30px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0;
    background-color: #47adf1;
    color: white;
}

#nav-second-button {
    width: 100px;
    height: 30px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid;
    background-color: white;
    color: #e0e3e6;
    border-color: #e0e3e6;
}

/* main */
main {
    margin: 0 auto;
    width: 70%;
    background-color: white;
    padding: 5%;
}

/* lista annidata */
ul {
    list-style: none;
    color: #464a53;
}

.main-item {
    font-size: 1.4em;
}

.second-item {
    padding-left: 8px;
    padding-top: 12px;
}

/* vari badge */
.sticker {
    display: inline-block;
    width: 90px;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 15px 15px 15px 15px;
    font-size: 0.5em;
    color: white;
}

.editorial {
    background-color: #47adf1;
}

.q1-goals {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #65c0a9;
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}

/* form */
.form {
    vertical-align: middle;
    border-radius: 50%;
}

.check {
    border:1px solid #72c5b1;    
    color: #72c5b1;
}

.cross {
    border: 1px solid #ee827d;
    color: #ee827d;
}